table{
    border-spacing: 0px;
    border-collapse: collapse;
}
td{
    vertical-align: top;
}
#sub-total {
    border-top: solid #000 1px;
}
#border-bottom {
    border-bottom: solid #000 1px;
}
.table{
    background-color: #eeeeee;
    color: navy;
    border: solid #000 1px;
}
.data {
    border-left: solid #000 1px;
    border-right: solid #000 1px;
}
.r{
    text-align: right;
}
.l{
    text-align: left;
}
.p{
    line-height: 3px;
}
